header a{
    color: black;
}

main {
    max-width: 1000px;
    width: 100%;
    margin-inline: auto;
    padding: 15px;
}

.hero_img img {
    aspect-ratio: 16/6;
    border-radius: 10px;
    object-fit: cover;
    margin-top: 20px;
}

.Story h2 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.Mission h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}
/* 
p {
    font-size: 20px;
} */

.team h2 {
    margin-top: 40px;
}

.team p:nth-child(2) {
    margin-bottom: 20px;
    color: cadetblue;
}
.team > div{
    display: flex;
    align-items: center;
}

.president {
    display: flex;
    justify-content: space-between;
}

.vice_president {
    display: flex;
    justify-content: space-between;
}

.team img {
    border-radius: 50px;
    margin-left: 30px;
    margin-right: 90px;
    height: 200px;
    object-fit: cover;
}

.vice_president img {
    margin-top: 30px;
}