*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}
.f_pass{
    height: 50vh;
    aspect-ratio: 16/16;
    display: grid;
    justify-content: center;
    align-items: center;
    border: 1px solid gray;
}
input[type="password"] {
    margin: 5px;
    border-radius: 3px;
}

button{
    width: 100%;
    margin-top: 20px;
    border-radius: 8px;
    background-color: rgb(6, 148, 204);
    font-weight: 500;
}