*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    height: 100vh;
}
.registration_form{
    background-color: whitesmoke;
}
button{
    background-color: rgb(66, 158, 219);
    width: 100px;
    height: 25px;
    border-radius: 9px;
    font-weight: 600;
    font-size: 15px;
}
