/* =======================FONTS AND TYPOGRAPHY======================= */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar{
    display: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* =========================HEADER=========================== */

header{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    padding-inline: 20px;
    z-index: 999;
}

header .logo{
    width: 40px;
    height: 40px;
}

header .container{
    width: 100%;
    max-width: 1000px;
    display: flex;
    gap: 10px;
    align-items: center;
}

header ul{
    display: flex;
    background-color: rgba(255, 255, 255, 0.217);
    justify-content: center;
    align-items: center;
    gap:15px;
    padding: 15px 20px;
    border-radius: 10px;
    color: white;
    backdrop-filter: blur(10px);
}

header ul li{
    list-style: none;
}

header a{
    color: white;
    text-decoration: none;
}

@media(max-width: 700px){
    header ul{
        display: none;
    }
}

/* ======================FOOTER========================== */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    color: white;
    margin-top: 70px;
}

footer .container{
    width: 100%;
    max-width: 1000px;
    height: 100%;
    padding: 15px;
    margin-block: 50px;
    display: flex;
    gap: 20px;
}

footer .container .logo{
    width: 50px;
}

footer h1, footer h2{
    font-weight: 500;
}

footer h2{
    margin-top: 50px;
}

footer a{
    color: gray;
}

@media(max-width: 700px){
    footer .container{
        flex-direction: column;
    }
}